.container{
    display: grid;
    text-align: center;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "content content content"
    "footer footer footer";
    grid-template-columns: 1fr 3fr;
    /* grid-gap: 20px; */
    ;

}

body{
    background-color: blanchedalmond;
}

header{
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 30px;
    grid-area: header;

}

h1{
    background: #dd1c1a;
    color: #f0c808;
    margin-left: 400px;
    margin-right: 400px;
    border: solid 4px #f0c808;
}

h4{
    font-family: 'Roboto Mono', monospace;
    font-size: 34px;
    text-decoration: none;
    color: #dd1c1a;
}

.homepagebtn{
    background: #f0c808;
    border: solid 3px #006992;
    margin-left: 730px;
    margin-right: 730px;
}

.nav{
    grid-area: nav;
    text-align: center;
    display: inline;
    background: #dd1c1a;
    border-top: solid 4px #f0c808;
    border-bottom: solid 4px #f0c808;
}

.nav li{
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    /* padding: 10px; */
    font-size: 34px;
}

.nav li a{
    text-decoration: none;
    
}

article{
    grid-area: content;
    border: 7px solid red;
    padding: 20px;
    background-color: crimson;
    color: white;
    text-align: center;
    font-size: 30px;

}

aside{
    grid-area: sidebar;
    border: 7px solid goldenrod;
    padding: 20px;
    background-color: gray;
    color: black;
    text-align: center;
    font-size: 30px;

}

footer{
    margin-top: 30px;
    grid-area: footer;
    text-align: left;

}

.color1{
    color: #006992;
}
.color2{
    color: #f0c808;
}
.color3{
    color: #dd1c1a;
}
.color4{
    color: #fff1d0;
}